<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid" style="margin-right: 80px">
    <a
      class="navbar-brand"
      routerLink="/dashboard"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Bike</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/material-master"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Material master</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/inventory"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Inventory</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/add-customer"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Customer</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/service-job"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Service/Job</a
          >
        </li>
      </ul>
      <div class="d-flex" style="margin-right: 40px">
        <a
          class="nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i
            style="border: 1px solid black; padding: 10px; border-radius: 50%"
            class="fa fa-user fa-lg"
          ></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/personal-information"
              >Profile</a
            >
          </li>
          <li>
            <a class="dropdown-item" style="cursor: pointer" (click)="logout()"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
