
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">

                <div class="row">
                    <div style="margin-top: 50px;" class="col-lg-5 d-none d-lg-block">
                        <img src="../../../assets/img/register-image.png" alt="">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" [formGroup]="registerForm">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="Name"
                                         formControlName="name"
                                         placeholder=" Name">
                                         <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('required', 'name')" class="text-danger">
                                          Name is required
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="address"
                                           formControlName="address"
                                            placeholder="address">
                                            <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('required', 'address')" class="text-danger">
                                              Address is required
                                            </div>
                                            <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('minlength', 'address')" class="text-danger">
                                              Address must be atleast 6 charachers
                                            </div>
                                            <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('maxlength', 'address')" class="text-danger">
                                              Address should not exceed 30 charachers
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        formControlName="email"
                                        placeholder="Email Address">
                                        <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('required', 'email')" class="text-danger">
                                          Email is required
                                        </div>
                                        <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('email', 'email')" class="text-danger">
                                          Enter valid email
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                           formControlName="password"
                                            id="InputPassword" placeholder="Password">
                                            <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('required', 'password')" class="text-danger">
                                              Password is required
                                            </div>
                                            <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('minlength', 'password')" class="text-danger">
                                              Password must be atleast 6 charachers
                                            </div>
                                            <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('maxlength', 'password')" class="text-danger">
                                              Password should not exceed 40 charachers
                                            </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                        formControlName="confirmPassword"
                                        id="RepeatPassword" placeholder="Confirm Password">
                                        <div *ngIf="this.isSubmitted == true && this.registerForm.hasError('required', 'confirmPassword')" class="text-danger">
                                         Please confirm the password
                                        </div>
                                        <!-- <div *ngIf="this.isSubmitted == true && !this.passwordmatch" class="text-danger">
                                          Password does not match
                                         </div> -->
                                    </div>
                                </div>

                                <button  type="button" class="btn btn-primary btn-user btn-block" (click)="Register()">
                                    Register Account
                                </button>
                                <hr>
                                <a  class="btn btn-google btn-user btn-block">
                                    <i class="fa fa-google fa-lg"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fa fa-facebook-f fa-lg"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small"routerLink="/">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
