
    <h1 class="text-center">Inventory</h1>
    <div class="container p-5">
      <form [formGroup]="inventoryForm">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="matName">Materila name</label>
              <select class="form-select" (change)="setUnit($event)" formControlName="materialName" name="unit" >
                <option *ngFor="let m of materialList" [value]="m.materialCode"  >{{m.materialName}}</option>
              </select>
            </div>
            <div *ngIf="this.isSubmitted == true && this.inventoryForm.hasError('required', 'materialName')" class="text-danger">
              Material is required
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="unit">Unit</label>
              <input
                type="text"
                class="form-control"
                name="unit"
                formControlName="unit"
                aria-describedby="emailHelp"
                (value)="this.unit"
              />
              <div *ngIf="this.isSubmitted == true && this.inventoryForm.hasError('required', 'unit')" class="text-danger">
                Unit is required
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="availableQuantity">Available qty</label>
              <input
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                type="number"
                min="0"
                class="form-control"
                name="availableQuantity"
                formControlName="availableQuantity"
                aria-describedby="emailHelp"
                placeholder="Enter available quantity"
              />
            </div>
          </div>
          <div class="col-4 mt-2">
            <div class="form-group">
              <label for="alertQuantity">Alert/Danger qty</label>
              <input
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
              type="number"
              min="0"
                class="form-control"
                name="alertQuantity"
                formControlName="alertQuantity"
                aria-describedby="emailHelp"
                placeholder="Enter alert quantity"
              />
            </div>
          </div>
          <div class="col-4 mt-2">
            <div class="form-group">
              <label for="description">Description</label>
              <input
                type="text"
                class="form-control"
                name="description"
                formControlName="description"
                aria-describedby="emailHelp"
                placeholder="Enter description"
              />
            </div>
          </div>
          <div class="col-4 mt-2">
            <div class="form-group">
              <label for="matName">MRP</label>
              <input
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                type="number"
                min="0"
                class="form-control"
                name="mrp"
                aria-describedby="emailHelp"
                placeholder="Enter MRP"
              />
            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <button type="button" class="btn m-1 btn-primary" (click)="saveMaterial()">Save</button>
          <button type="button" class="btn m-1 btn-danger" (click)="cancelMat()">Cancel</button>
        </div>
      </form>
    </div>
